@page
@model Seniorconnect_Luuk_deVos.Pages.ActiviteitenBordModel
@{
	ViewData["Title"] = "Activiteiten Bord";
}
<div class="text-center">
    <h1 class="display-4">Welcome bij het activiteiten bord</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Luuk is cool :)</h2>

    <ul>
        @foreach (var activity in Model.Activities)
        {
            <li>
                @activity.ID
                @activity.title
                @activity.description
                @activity.date
            </li>
        }
    </ul>

</div>
