@page
@model Seniorconnect_Luuk_deVos.Pages.LoginModel
@{
}

<div class="container border" style="padding: 20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.email"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="text" asp-for="Credential.email" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.email"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Credential.password"></label>
            </div>
            <div class="col-5">
                <input class="form-control" type="password" asp-for="Credential.password" />
            </div>
            <span class="text-danger" asp-validation-for="Credential.password"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <input type="submit" class="btn btn-primary" value="Login" />
                <a asp-page="/Register" class="btn btn-secondary ml-2">Register</a>
            </div>
        </div>
    </form>
</div>
